body {
    background-color: black;
    font-family: Arial, sans-serif;;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.difficultyBtn {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}

.difficultyBtn:hover {
    background-color: lightgray;
}

#startBT {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;


}