{% extends "master.html" %}
{% load static %}

{% block style_src %}{% static 'pong/css/style.css' %}{% endblock %}

{% block title %}PongGame{% endblock  %}

{% block content %}
    <div id="menu">
        <h1 id="gameTitle">Pong Game</h1>
        <button id="classic">Classic Mode</button>
        <button id="multiplayer">Online Multiplayer</button>
    </div>

    {% comment %} waiting for opponent... {% endcomment %}
    <div id="waiting" style="display: none;">
        <p>Waiting for opponent...</p>
        <div class="loader"></div>
    </div>


    <canvas id="pongCanvas" style="display: none;"></canvas>
    <script src="{% static 'pong/js/script.js' %}"></script>

    <footer>
        create by ayoub rahmoun &#169
    </footer>
{% endblock %}
